@model IEnumerable<jbchorg.Models.Mensaje>
@{
    ViewData["Title"] = "Lista de Contactos";
}

<div class="row">
<form asp-controller="Mensaje" asp-action="Contactos">
    <div class="col-lg-7">
    <h3>Lista de Contactos</h3>
    <input value="" type="text" name="fNom"  class="form-search form-control" placeholder="Búsqueda por Nombre"><br />
    <button type="submit" class="btn btn-primary">Buscar</button>
    </div>
    </form>
    </div><br/>
<div class="row">
<table class="table table-bordered table-responsive table-hover">
    <thead>
        <tr>
            <th>N°</th>
            <th>Nombre</th>
            <th>Apellido Paterno</th>
            <th>Apellido Materno</th>
             <th>Email</th>
             <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                 <td>@Html.DisplayFor(modelItem => item.Id)
                 </td>
                 <td>@Html.DisplayFor(modelItem => item.Nombre)
                     </td>
                    <td>@Html.DisplayFor(modelItem => item.APaterno)
                    </td> 
                     <td>@Html.DisplayFor(modelItem => item.AMaterno)
                 </td>
                 <td>@Html.DisplayFor(modelItem => item.Correo)
                 </td>
                          
                
                 <td>
                     <a asp-action="Contacto" asp-route-id="@item.Id">Contacto</a>
                 </td>
            </tr>
           
        }
    </tbody>
</table>
</div>

<p><img src="~/images/logo-01.png"></p>