@model IEnumerable<jbchorg.Models.Mensaje>

@{
    ViewData["Title"] = "Listados";
}


<div class="row">
<form asp-controller="Mensaje" asp-action="Mensajes">
    
<div class="col-lg-7">
    
<h3>Listados de Contactos</h3>
  
  <input value="" type="text" name="fNom"  class="form-search form-control" placeholder="Búsqueda por Nombre">
    </div>
 
   <div class="col-lg-5">
    
  <button type="submit" class="btn btn-primary">Filtar</button>
   
 </div>
</form>
</div><br/>

<div class="row">
<table class="table table-bordered table-responsive table-hover">
  
  <thead>
        <tr>
            <th>N°</th>
            
<th>Nombre y Apellido</th>
            
<th>Email</th>
     
 <th>Id</th>
   
 <th>Nombres</th>
   
 <th>ApellidosPaterno</th>
 
<th>ApellidosMaterno</th>
 
<th>Correo</th>
        
    <th></th>
        </tr>
    </thead>
   
 <tbody>
       
 @foreach (var item in Model)
        {
     
       <tr>
                
 <td>@Html.DisplayFor(modelItem => item.Id)
      
           </td>
            
     <td>@Html.DisplayFor(modelItem => item.Nombre)
                     @Html.DisplayFor(modelItem => item.APaterno)
                    
 @Html.DisplayFor(modelItem => item.AMaterno)
                 </td>
                 <td>@Html.DisplayFor(modelItem => item.Correo)
                 </td>
                 <td>@Html.DisplayFor(modelItem => item.TMensaje)
                 </td>
                 <td>@Html.DisplayFor(modelItem => item.ApellidoMaterno)
                 </td>
                  <td>@Html.DisplayFor(modelItem => item.Area)
                 </td>
                
 <td></td>
 <a asp-action="Mensaje" 
asp-route-id="@item.Id">Details</a>
 </td>
          
  </tr>
           
        }
   
 </tbody>
</table>
</div>
